@import '../../bower_components/reset.scss/reset.scss';
@import 'partials/libs/swiper.min.scss';
@import 'partials/libs/animsition.min.scss';
@import 'partials/_deskVariables.scss';
@import 'partials/_extends.scss';

::-webkit-scrollbar {
	width: 0;
}
a {
	text-decoration: none;
}
body {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

@import 'partials/preloader.scss';
@import 'partials/statusBar.scss';
@import 'partials/deskSwiperContainer.scss';
@import 'partials/controlPanel.scss';
@import 'partials/controlPanelPopup.scss';
@import 'partials/imgChoicePopup.scss';
				
@each $imgName in $namesBgImgArray {
	._bg_#{$imgName} {
		background-image: url(#{$bgImgPath}/#{$imgName}.jpg);
	}
}

@keyframes preloaderSpin {
	0%,
	100% {
		transform:translate(0);
	}
	25% {
		transform:translate(160%);
	}
	50% {
		transform:translate(160%, 160%);
	}
	75% {
		transform:translate(0, 160%);
	}
}