@import '../../bower_components/reset.scss/reset.scss';
::-webkit-scrollbar {
	width: 0;
}
.statusBar {
	width: 100%;
	height: 2vh;
	background-color: yellow;

	.statusBar_button {
		width: 100px;
		height: 20px;
		background-color: red;

		&.active {
			background-color: blue;
		}
	}
}