.controlPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2vh;
	overflow: hidden;
	cursor: pointer;

	.controlPanel__button {
		width: 20%;
		min-width: 140px;
		height: 4px;
		border-radius: 10px;
		background-color: #fff;
	}
}