.imgChoicePopup {
	position: fixed;
	width: 100%;
	height: 100vh;
	bottom: -100vh;
	background-color: #fff;
	z-index: 3;
	transition: all .7s;

	&_active	{
		bottom: 0%;
	}

	.imgChoicePopup__header {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 10vh;

		.fa-angle-down {
			font-size: 45px;
			color: #203846;
			cursor: pointer;
		}
	}

	.imgChoicePopup__content {
		position: absolute;
		width: 80%;
		height: 90vh;
		text-align: center;
		margin: 10vh 10% 0;
		overflow: scroll;

		.imgChoicePopup__contentItem {
			display: inline-block;
			width: 110px;
			height: 230px;

			.imgChoicePopup__img {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: 98%;
				height: 98%;
				margin: 1%;
				cursor: pointer;
			}
		}

		@media screen and (max-width: 494px) {
			width: 100%;
			margin: 10vh 0 0;
		}
	}
}